@media screen and (min-width: 768px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        min-width: 100vw;
        background-color: brown;
    }
    
    main {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 85%;
        height: 70vh;
        border-radius: 25px;
        background-color: bisque;
    }

    .container {
        margin-right: 7vw;
        margin-left: 4vw;
        margin-top: 1em;
    }

    picture {
        display: flex;
        align-items: center;
        margin-right: 1em;
    }

   
    .illustration {
        height: clamp(10em, 65vh, 27em);
        border-radius: 15px 15px 15px 15px;
        width: 98%;
        object-fit: cover;
    }

    .checklist {
        margin-top: 2em;
        margin-bottom: 2em;
        /*Alterar a posição da imagem da lista*/
    }

    .checklist > p > img {
        top: 0em;
    }

    .forms > p {
        margin-left: 1vw;
    }

    #email {
        width: 45vw;
    }

    input[type="submit"] {
        width: 45vw;
        margin-bottom: 4em;
    }

    .error > p {
        margin: 0;
    }

    footer {
        display: none;
    }

    .success {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .messagem-success {
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        /* margin: auto; */
        width: 50vw;
        height: 60vh;

    }
}