@media screen and (min-width: 768px) {
    :root {
        --Red: hsl(4, 100%, 67%);
        --lightRed: hsl(7, 41%, 92%);

        --Blue800: hsl(234, 29%, 20%);
        --Blue700: hsl(235, 18%, 26%);
        --Grey: hsl(0, 0%, 58%);
        --White: hsl(0, 0%, 100%);

        /*Cor Button*/
        --pink: rgb(255, 83, 121);
        --orange: rgb(255, 105, 62);
    }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            min-width: 100vw;
            background-color: var(--Blue800);
        }

        main {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            width: 65%;
            height: 65%;
            border-radius: 25px;
            background-color: var(--White);
        }

        .container {
            margin-right: 1vw;
            margin-left: 1vw;
            margin-top: 1em;
        }

        picture {
            display: flex;
            align-items: center;
            margin-right: 1em;
        }


        .illustration {
            height: clamp(10em, 60vh, 37em);
            width: 98%;
            border-radius: 15px 15px 15px 15px;
            object-fit: cover;
        }

        .checklist {
            margin-top: 2em;
            margin-bottom: 2em;
        }

        .checklist>p>img {
            top: 0em;
        }

        #email {
            width: 30vw;
        }

        input[type="submit"] {
            width: 30vw;
            margin-bottom: 4em;
        }

        label {
            margin-left: 0vw;
        }

        .error {
            margin: 0;
        }

        .success {
            display: none;   
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            z-index: 7;
        }

        .messagem-success {
            width: 26em;
            height: 27em;
            padding: 2em;
            border-radius: 30px;
        }

        .messagem-success > img {
            margin-top: 0em;
        }

        .backcolor {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: var(--Blue800);
            z-index: 5;
        }

        .attribution {
            color: var(--lightRed);
        }
    }

    @media screen and (min-width: 1200px) {
        main {
            width: 57%;;
            height: 60%;
        }

        .illustration {
            height: clamp(10em, 55vh, 37em);
        }
    }