@media screen and (min-width: 768px) {
    body {
        background-color: brown;
    }
    
    main {
        display: flex;
        flex-direction: row-reverse;
        width: 75vw;
        height: 70vh;
        margin: 10vh auto;
        /* align-items: center; */
        /* justify-content: center; */

        background-color: bisque;
    }

    .container {
        display: flex;
        flex-direction: column;

        /* flex: 1; */
    }

    picture {
        display: flex;
        align-items: center;
    }

    .illustration {
        /* display: block; */
        height: 25em;
        width: 75%;
        /* margin-top: 5em; */
        /* border-radius: 15px; */
        /* padding-right: 2vh; */
        object-fit: cover;
        
        /*Pocisionar a imagem corretamente, perguntar ao claude, colocando a imagem de referencia e os códigos*/
    }


    h1 {

    }

    .checklist {
        /* margin-top: auto; */
    }

    .forms {
        /* align-self: flex-end; */
    }

    #email {
        width: 2em;
    }

    input[type="submit"] {
        width: 2em;
    }
}